body {
  background: black;
  margin-top: 100px;
}
ul {
  background: white;
  padding-top: 20px;
}
.octodex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.octocat {
  width: 50%;
  list-style: none;
  margin: 5px 10px;
}
.octocat img {
  width: 95%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.authors img {
  width: 40%;
}
.image-footer {
  justify-content: space-between;
  display: flex;
}
.image-number {
  display: flex;

  color: lightgrey;
  font-weight: bold;
  font-size: 20px;
}
.image-caption {
  display: flex;
  justify-content: flex-end;
  margin-left: 135px;
}

.authors li {
  list-style: none;
}
.image-number::before {
  content: "#";
}

.octocat .image-footer {
  justify-content: space-between;
  display: flex;
}
span {
  color: grey;
  font-weight: bold;
  font-size: 15px;
}
a {
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

ul .authors {
  margin-left: -1px;
}
